.cropper-box {
  display: flex;
  &-left {
    width: 420px;
    min-width: 420px;
    height: 420px;
  }

  &-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cropper-btn-box {
  margin-top: 20px;
  display: flex;
}
