.describe {
  padding-bottom: 20px;
  display: flex;
}

.pdf-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  &-left {
    .pdf-page {
      padding: 0 10px;
    }
  }
}
