*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 14px;
  overflow: hidden;
}

body {
  font-size: 1rem;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:-webkit-autofill {
  box-shadow: 0 0 1px 1000px white inset !important;
}

::view-transition-new(root),
::view-transition-old(root) {
  /* 关闭默认动画，否则影响自定义动画的执行 */
  animation: none;
}

::view-transition-old(root) {
  z-index: 1;
}

.dark::view-transition-new(root) {
  z-index: 100;
}

/* 灰色滤镜 */
.grey {
  filter: grayscale(100%);
  -webkit-filter: grayscale(80%);
}

/* 头部iocn */
.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none !important;
  width: 36px;
  height: 52px;
  cursor: pointer;
}
.header-icon:hover {
  background-color: var(--el-fill-color);
}
