:root {
  --el-font-size-large: 1.28rem !important;
  --el-font-size-medium: 1.14rem !important;
  --el-font-size-base: 1rem !important;
  --el-font-size-small: 0.92rem !important;
  --el-font-size-extra-small: 0.857rem !important;
  --el-menu-item-height: 46px !important;
  --el-menu-base-level-padding: 15px !important;

  .el-breadcrumb {
    font-size: 1rem;
  }

  .el-tag {
    height: 2rem;
    --el-tag-font-size: 0.857rem;
    --el-icon-size: 1rem;
  }
}

.el-dropdown-link:focus-visible {
  outline: none !important;
}

.el-dropdown-menu {
  padding: 0 !important;
  li {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    cursor: pointer;
  }
}

.el-divider--horizontal {
  margin: 1rem 0 !important;
}
